.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/background-hm6.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.container__button {
    text-transform: uppercase;
    width: 25%;
    height: 8%;
    font-size: medium;
    font-weight: 600;
    color: blue;
    border-radius: 20px;
    border: 1px solid rebeccapurple;
    letter-spacing: 6px;
    align-items: center;
    margin-bottom: 20px;
}

.container__button:hover {
    background-color: aquamarine;
    cursor: pointer;
    transition: .3ms;
}

.container__button:active{
    background-color: rgb(144, 100, 17);
    transition: .5s;
}

.ipInfo {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    color: rgb(17, 8, 8);
    background-color: aquamarine;
    margin-top: 20px;
}